* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;

}

.container {
    width: 50vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.box-grafico-uno {
    border: 1px solid black;
    width: 50%;
    height: 200px;
    margin: 0 auto;

}

.input-uno {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
}

.box-grafico-due {
    border: 1px solid black;
    width: 50%;
    height: 200px;
    margin: 0 auto;
}

.input-due {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.name-venditori {
    height: 20px;
}

input {
    height: 20px;
}
