* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;

}

.container {
    width: 80vw;
    border: 1px solid black;
    
}

.grafico-uno {
    height: 50%;
    border: 1px solid black;
    
}

.grafico-due {
    height: 50%;
    border: 1px solid black;
    
}
